*.js linguist-documentation=false
*.css linguist-documentation=false
*.scss linguist-documentation=false
*.html linguist-documentation=false
*.sql linguist-detectable=true

*.sql linguist-language=sql
*.js linguist-language=Typescript
*.html linguist-language=Typescript
*.css linguist-language=Typescript
*.scss linguist-language=Typescript

*.sql diff