@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

body
  padding: 0
  margin: 0
  font-family: Roboto
  background: #F4F2F2
  
nav
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: 700
  & #logo
    margin: 0
    padding-left: 65px
    color: #4B2C78
  & ul
    list-style: none
    display: flex
    flex-direction: row
    
    background: linear-gradient(270deg, #4B2C78 25%, #F0D90C 122.64%)
    margin: 0
    & li
      padding: 15px 65px 15px 10px
      & a
        color: #fff
        text-decoration: none
      
.message-error
  display: flex
  flex-direction: column
  align-items: center
  & .text-404
    width: 100%
    padding: 3rem 0
    color: #4B2C78
    background: #fff
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    & h3
      font-size: 5rem
      margin: 0
    & h4
        font-size: 1.2rem
        font-weight: 400
        width: 30rem
        margin: 0
    & p
        font-style: italic
        
  .reasons-404
    width: 40rem
    & h3, .issues, a
      font-weight: 700
      color: #4B2C78
        
span.yellow
        color: #F0D90C