<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>

    <link rel="stylesheet" href="./public/static/styles/global.css">
</head>
<body>
    <nav>
        <div id="logo">ZE<span class="yellow">ncurta</span></div>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Registre-se</a></li>
        </ul>
      </nav>
      
      <section class="message-error">
        <div class="text-404">
          <h3>ERRO <span class="yellow">404</span></h3>
          <h4>Oops, não encontramos o link encurtado que você tentou acessar, verifique se a url está correta.</h4>
          <p>https://zencurta.br/hash</p>
        </div>
        <div class="reasons-404">
          <h3>O que pode ter acontecido é que...</h3>
          <p>
            <strong>... expirou o link:</strong> para evitar o acumulo de links antigos nos nossos servidores os links encurtados tem datas de expiração de 1 ano após sua criação.<br><br>
      
            <strong>... a url é invalida:</strong> pode se que o link tenha um ou mais caracteres inválidos.<br><br>
      
            <strong>... nossos servidores estão sobrecarregados:</strong> recebemos diversos usuários em nossa plataforma, nisso pode ter ocasionado alguns problemas.
          </p>
          <p class="issues">Encontrou algum erro colabore nesse nosso projeto Open-Source, <a href="https://github.com/EuCarlos/ZEncurta/issues">clique aqui</a> para saber como.</p>
        </div>
      </section>
</body>
</html>