<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZEncurta</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/static/styles/home.css">
</head>
<body>
    <nav>
        <div id="logo">ZE<span class="yellow">ncurta</span></div>
        <ul>
          <li><a href="/a/login">Login</a></li>
          <li><a href="/a/register">Registre-se</a></li>
        </ul>
    </nav>
      
    <section id="container">
        <div class="contentWrapper">
          <div class="topContentWrapper">
          <img src="./public/static/assets/logo.svg" alt="logo">
            <p>Encurtador de link brasileiro e Open-Source</p>
        </div>
          <form onsubmit="return createsShortenedLink()">
            <input type="url" id="url" placeholder="https://webiste.com/">
            <button>Encurtar</button>
          </form>
          <div id="result"></div>
        </div>
    </section>

    <section id="slide">
      <p>Duis eiusmod reprehenderit dolore minim laboris. Nostrud aliqua eu aliqua et esse aliquip aute non commodo do sint eiusmod cillum. Ullamco non laborum culpa ipsum labore irure elit amet ut ullamco tempor proident cillum.</p>
      <p>Duis eiusmod reprehenderit dolore minim laboris. Nostrud aliqua eu aliqua et esse aliquip aute non commodo do sint eiusmod cillum. Ullamco non laborum culpa ipsum labore irure elit amet ut ullamco tempor proident cillum.</p>
      <p>Duis eiusmod reprehenderit dolore minim laboris. Nostrud aliqua eu aliqua et esse aliquip aute non commodo do sint eiusmod cillum. Ullamco non laborum culpa ipsum labore irure elit amet ut ullamco tempor proident cillum.</p>
    </section>
    <footer>
      <div class=copyright>
          Copyright © 2021, All Right Reserved <a href="http://carlosalves.now.sh/">Carlos Alves</a>
      </div>
      <div class=links>
          <a href="/">Inicio</a>
          <a href="/a/login">Login</a>
          <a href="/a/register">Registre-se</a>
          <a href="http://carlosalves.now.sh/contatos">Contato</a>
      </div>
    </footer>

    <script>
      const createsShortenedLink = () => {
        const api = `http://${window.location.host}/short`
        const url = document.getElementById('url').value
        const result = document.getElementById('result')
        const slide = document.getElementById('slide')

        var xhr = new XMLHttpRequest()
        xhr.open("POST", api)

        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {

              const response = JSON.parse(xhr.responseText)
              const urlShorten = `http://${window.location.host}/${response.hash}`

              result.style = "display: flex;"
              slide.style = "padding: 6rem 0 1rem 0;"

              const body = `
                <div class="left">
                  <div id="url-information">
                    <p>${urlShorten}</p>
                    <button onclick="copyToClipboard('${urlShorten}')">copiar</button>
                  </div>
                  <div class="url-original">URL original: ${response.original_url}</div>
                </div>
                <div id="right">
                  <p>Quer montar link encurtado personalizados? <a href="/a/login">Faça Login</a></p>
                </div>
              `
              result.innerHTML = body

          }
        }

        var data = `{
          "original_url": "${url}",
          "user_id": "visitor"
        }`

        xhr.send(data)

        return false
      }

      const copyToClipboard = async (id) => {
        if ('clipboard' in navigator) {
          await navigator.clipboard.writeText(id);
        } else {
          document.execCommand('copy', true, id);
        }
      }
        
    </script>
</body>
</html>