<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZEncurta</title>
    <link rel="stylesheet" href="./public/static/styles/home.css">
</head>
<body>
    <nav>
        <div id="logo">ZE<span class="yellow">ncurta</span></div>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Registre-se</a></li>
        </ul>
    </nav>
      
    <section id="container">
        <div class="contentWrapper">
          <div class="topContentWrapper">
          <img src="./public/static/assets/logo.svg" alt="logo">
            <p>Encurtador de link brasileiro e Open-Source</p>
        </div>
          <form action="">
            <input type="url" placeholder="https://webiste.com/">
            <button>Encurtar</button>
          </form>
        </div>
    </section>

    <footer>
        <p>Copyright © 2021, All Right Reserved <a href="http://carlosalves.now.sh/">Carlos Alves</a></p>
        <div>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Registre-se</a>
            <a href="/contact">Contato</a>
        </div>
    </footer>
</body>
</html>