<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZEncurta - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/static/styles/home.css">
</head>
<body>
    <div class="container">
        <div class="containerWrapper">
            <form>
                <input type="email" name="email" id="email">
                <input type="password" name="password" id="password">
                <a href="#">Esqueci senha</a>
                <button>Entrar</button>
                <div>Não possui login?<a href="/a/register">Faça já seu cadastro</a></div>
            </form>
        </div>
        <div class="contentRight">
            <a href="/">&#10094; HOME</a>
            <p>Exercitation aute est aute ut incididunt fugiat reprehenderit proident exercitation Lorem in. Veniam sit consectetur laboris do eiusmod velit quis est. Culpa ea nostrud consectetur ea consequat deserunt. Magna occaecat eiusmod qui exercitation. Nisi id occaecat incididunt do officia cupidatat commodo. Do consectetur ad elit dolor. Irure esse incididunt officia sunt.</p>
        </div>
    </div>
</body>
</html>