<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZEncurta - Cadastro de usuário</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/static/styles/login.css">
</head>
<body>
    <div class="container">
        <div class="containerWrapper">
            <form>
                <div class="logo">
                    <img src="../public/static/assets/logo.svg" alt="logo">
                    <p>Cadastre-se já!</p>
                </div>
                <input type="text" name="name" id="name" placeholder="Nome completo">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <input type="password" name="password" id="password" placeholder="Senha">
                <div>
                    <input type="checkbox" name="terms-police" id="terms-police">
                    Li e Aceito todos os <a href="/a/register#terms">Termos de uso</a> e <a href="/a/register#police">Política de Privacidade</a>
                </div>
                <button>Cadastrar</button>
                <div class="register">Já possui uma conta?<a href="/a/login">Faça login</a></div>
            </form>
        </div>
        <div class="contentRight">
            <a href="/" class="home-l">&#10094;&#10094; HOME</a>
            <div class="content-l">Exercitation aute est aute ut incididunt fugiat reprehenderit proident exercitation Lorem in. Veniam sit consectetur laboris do eiusmod velit quis est. Culpa ea nostrud consectetur ea consequat deserunt. Magna occaecat eiusmod qui exercitation. Nisi id occaecat incididunt do officia cupidatat commodo. Do consectetur ad elit dolor. Irure esse incididunt officia sunt.</div>
        </div>
    </div>
</body>
</html>